<template name="admin">
  <div id="admin">
    <a href="/" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>
    <div class="wrapper-admin">
      {{#if isAdmin}}
        <h1 class="title-admin">Admin</h1>

        <form>
          <label>Edit the front page news:</label>
          <textarea name="text" rows="5" placeholder="Show the latest Local Market news on the the frontpage...">{{latestNews.text}}</textarea>
          <button type="submit" class="btn-primary">Save</button>
        </form>
      {{else}}
        <h1 class="title-admin">Forbidden</h1>
        
        {{#unless currentUser}}
        <form>
         <div class="login-form">
             <div class="field">
                 <input type="text" placeholder="username" value="{{userName}}">
             </div>
              <div class="field">
                 <input type="password" placeholder="password" value="{{userPw}}">
             </div>
         </div>

          <button type="submit">Log in</button>
        </form>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</template>